@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root {
    --main-green : darkgreen;
    --display-background: rgba(2, 0, 36, 0.7);
    --hover-color: rgba(200, 200, 200, 0.8);
}

body {
    color: aliceblue;
    background: rgb(2, 0, 36);
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(41, 7, 88, 1) 77%, rgba(0, 212, 255, 1) 100%);
    background-repeat: round;
    font-family: "Open Sans", sans-serif;
}

h2 {
    font-size: min(2.5em, 10vw);
}

.container {
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 1em;
}

.section {
    width: 75%;
    margin: auto;
}

.section-separator {
    width: 50%;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    border-width: 1.5em;
    border-radius: 25px;
    border-style: double;
}

#current-date-div {
    font-size: min(2em, 4vw);
}

#date-form {
    font-size: min(1.5em, 4vw);
}

#error-label {
    font-size: 1em;
    display: none;
    color: crimson;
    background-color: transparent;
}

.date-timer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
    width: min(750px, 100%);
    padding: 1em 0em;
    background-color: var(--display-background)

}

.timer-element p {
    text-align: center;
    font-size: min(1.5em, 3vw);
}

.timer-divider {
    width: 2px;
    background-color: darkgreen;
}

.timer-element p:first-child {
    font-size: min(5em, 6vw);
    margin: 0;
}

#calendar-container {
    padding: 1em;
    margin: auto;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--display-background);
}

#calendar-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0em 15%;
    font-size: 2em;
}

.calendar-button {
    background-color: aliceblue;
    border: none;
    box-shadow: 0 9px #000;
    border-radius: 25px;
}

.calendar-button:hover {
    background-color: var(--hover-color);
}

.calendar-button:active {
    background-color: #AAA;
    box-shadow: 0 5px #000;
    transform: translateY(4px);
}

#calendar-separator {
    border-color: var(--main-green);
    border-width: 2px;
    width: 100%;
}

#calendar-content {
    border-spacing: 1em;
}

#calendar-content td {
    text-align: center;
    width: 50px;
}

#calendar-content td:hover {
    cursor: pointer;
    background-color: var(--hover-color)
}

#calendar-content td:active {
    background-color: var(--main-green);
}

#selected-cell {
    background-color: var(--main-green);
}